body {
  background-image: url(../assets/images/ht.png);
  background-position: 1% 1%;
  background-repeat: no-repeat;
  background-size: 50px;
}

.list-sm p {
  font-size: 24px;
}

body > div.reveal:after {
  content: 'High Touch Technologies';
  font-style: normal;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.reveal section img {
    border: none;
    box-shadow: none;
}
