<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    
    {% include header.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{ content }}
        </div>
        {% include sidebar.html %}
      </div>
    </div>
    

    {% include footer.html %}

  </body>
<script language="Javascript" type="text/javascript">
  function search_google() {
    var query = document.getElementById("google-search").value;
    window.open("http://google.com/search?q=" + query + "%20site:" + "http://gdboling.github.io");
  }
</script>
</html>
